@import "tailwindcss";

@theme {
  --color-primary: #006184;
  --color-primary-container: #007ba7;
  --color-on-primary-container: #f5faff;
  --color-on-primary: #ffffff;
  
  --color-secondary: #505f76;
  --color-secondary-container: #d0e1fb;
  
  --color-surface: #f7f9fb;
  --color-on-surface: #191c1e;
  --color-surface-variant: #e0e3e5;
  --color-on-surface-variant: #3f484e;
  
  --color-background: #f7f9fb;
  --color-on-background: #191c1e;
  
  --color-outline: #6f787f;
  
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #f7f9fb;
  --foreground: #191c1e;
}
